<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <sectionGroup name="NUnit">
    <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
  </sectionGroup>

  <NUnit>
    <TestRunner>
      <!-- Valid values are STA or MTA (Others are ignored) -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>

  <add key="RootURL" value="http://localhost/1423/"/>
  
</configuration>
